#
# {{ ansible_managed }}
#

[Definition]

{% if firewall_fail2ban_loglevel is not none %}
loglevel = {{ firewall_fail2ban_loglevel }}
{% endif %}
{% if firewall_fail2ban_logtarget is not none %}
logtarget = {{ firewall_fail2ban_logtarget }}
{% endif %}
{% if firewall_fail2ban_socket is not none %}
socket = {{ firewall_fail2ban_socket }}
{% endif %}
{% if firewall_fail2ban_pidfile is not none %}
pidfile = {{ firewall_fail2ban_pidfile }}
{% endif %}
