[DEFAULT]

ignoreip = 127.0.0.1/8 {{ firewall_whitelisted_hosts | join(' ') }}
bantime  = {{ firewall_fail2ban_bantime }}
maxretry = {{ firewall_fail2ban_maxretry }}
destemail = {{ firewall_fail2ban_destemail }}
#banaction = iptables-multiport
banaction = ufw

#
# JAILS
#

{% for jail in firewall_fail2ban_jails %}
[{{ jail.section}}]
{% for key, value in jail.iteritems() if key != 'section'%}
{{ "%-9s = %s"|format(key, value) }}
{% endfor %}

{% endfor %}

# vim:ft=dosini
