[DEFAULT]

# "ignoreip" can be an IP address, a CIDR mask or a DNS host
ignoreip = 127.0.0.1/8
bantime  = 600
maxretry = 3

destemail = {{ firewall_fail2ban_destemail }}

{# TODO: manage banaction with ufw #}
banaction = iptables-multiport

#
# JAILS
#

{% for jail in firewall_fail2ban_jails %}
[{{ jail.section}}]
{% for key, value in jail.iteritems() if key != 'section'%}
{{ "%-9s = %s"|format(key, value) }}
{% endfor %}

{% endfor %}

# vim:ft=dosini
